<style>
    header{
        margin-top: 30px;
        margin-bottom: 25px;
    }
    h2{display: inline;}
    .float-right{float: right;}
    input{float:right;}
</style>
<header>
    <h2 class="page-header">Welcome</h2>
    <div class="float-right">
        <button ng-click="logout()">logout</button>
        <button class="add-new"><a href="/#!/create">Create a New Poll</a></button></br>
    </div>
</header>
<h2>Current Polls</h2>
<input type="text" ng-model="search.$" placeholder="Search">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Survey Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="poll in polls | filter:search">
      <td>{{poll._user.username}}</td>
      <td><a href="/#!/poll/{{poll._id}}">{{poll.question}}</a></td>
      <td>{{poll.createdAt | date}}</td>
      <td><span ng-if="poll._user.username === username"><button ng-click="delete(poll._id)">Delete</button></span></td>
    </tr>
  </tbody>
</table>
